{
	"root": true,
	"env": {
        "browser": true,
        "node": true,
        "es6": true
    },
	"parserOptions": {
		"ecmaVersion": 6
	},
	"extends": "eslint:recommended",
	"rules": {
		"indent": ["warn", "tab"],
		"no-unused-vars": "off"
	}
}
