.gFrame {
	border: 0.5px dashed green;
}

.geFrame {
	border: 0.5px dashed yellow;  
}

.rFrame {
	border: 0.5px dashed red;
}

.pFrame {
	border: 0.5px dashed pink;
}

.bFrame{
	border: 0.5px dashed Blue;
}