@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Nosifer');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

html {
	height: 100%;
}

body {
	font-family: 'Permanent Marker';
	font-size: 20pt;
	background-color: rgb(41, 41, 41); color: white; /*dark theme*/
	height: 100%;
}

/*Modal*/
#playerInputModal {
	color: black;
}

.playerLabel .playerName {
	font-size: 16pt;
}

/*On sm*/
@media (max-width: 1600px) {
	#myArea {
		height: 70%;
		padding-top: 2%;
	}
	#myHeader {
		padding-bottom: 4%;
	}
}

@media (max-width: 1200px) {
	#myArea {
		height: 55%;
		padding-top: 2%;
	}
	#myHeader {
		padding-bottom: 4%;
	}
}

@media (max-width: 991px) {
	#myArea {
		height: 90%;
		padding-top: 2%;
	}
	#myHeader {
		padding-bottom: 4%;
	}
}

@media (max-width: 745px) {
	#myArea {
		height: 65%;
		padding-top: 2%;
	}
	#myHeader {
		padding-bottom: 4%;
	}
}

@media (max-width: 510px) {
	#myArea {
		height: 45%;
		padding-top: 4%;
	}
	#myHeader {
		padding-bottom: 6%;
	}
}

@media (max-width: 430px) {
	#myArea {
		height: 50%;
		padding-top: 4%;
	}
	#myHeader {
		padding-bottom: 6%;
	}
}



/*
@media (max-width: 991px) { ... }

@media (max-width: 1199px) { ... }
*/
/*
@media(max-width:1000px){
	#myGameField {
		
		width: 85%;
		height: 130%;
	}
	#myHeader{
		padding-top: 2%;
		padding-bottom: 2%;
	}
	#otherArea {
		padding-top: 20%;
	}
	#otherHeader {
		padding-bottom: 2%;
	}
}*/

.gameFieldHeader {
	height: 4%;
	display: flex;
	align-items: center;
}

.height {
	height: 100%;
}

#board-area {
	height: 85%;
}

.board {
	height: 96%;
}

#playerInputButton {
	width: 50%;
}

.row {
	display: flex;
	flex-wrap: wrap;
}
  