@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Nosifer');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

html {
	height: 100%;
}

body {
	font-family: 'Permanent Marker';
	font-size: 20pt;
	background-color: rgb(41, 41, 41); color: white; /*dark theme*/
	height: 100%;
}

.container {
	height: 100%;
}

.area {
	padding: 0;
	margin: 1%;
}

.battleArea {
	height: 50%;
}

.infoArea {
	margin: 2%;
}

.board {
	margin: 0;
	padding: 1%;
	height: 100%;
}

.boardHeader {
	height: 7%;
	display: flex;
	align-items: center;
}

#myShips {
	margin: 0;
	padding: 1%;
	height: 93%;
}

#otherShips {
	margin: 0;
	padding: 1%;
	height: 93%;
}

/*Will set up dynamic in main.js*/
.boardRow {}

.boardField {
	position: relative;
	border: 1px solid lightgray;
	background-color: #0cadf8;
	padding: 0;
	float: left;
	height: 100%;
}
/**/
.setUpShips {
	height: 30%;
	width: 100%;
}

.setUpShipsRowArea {
	height: 60%;
	width: 100%;
}

.setUpShipsRowAreaRow {
	height: 100%;
	margin: 0;
	padding: 0;
}

.setUpShipsRowAreaRowUsedGameFields {
	border: 1px solid lightgray;
	background-color: #40413f;
	position: relative;
	padding: 0;
	float: left;
	height: 100%;
}

.setUpShipsFooter {
	/*position: relative;
	padding: 0;
	float: left;*/
	width: 100%;
	height: auto;
}

.shipField {
	position: relative;
	border: 1px solid lightgray;
	background-color: #323a29;
	padding: 0;
	float: left;
	height: 38px; 
}

.height {
	height: 100%;
}

.activeField:hover {
	background-color: rgb(0, 102, 255);
}

#playerInputModal {
	color: black;
}

.playerLabel .playerName {
	font-size: 16pt;
}

/*Debug Borders*/
.frame {
	border: 0.5px dashed green;
}
