@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Nosifer');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');


body {
	font-family: 'Permanent Marker';
	font-size: 20pt;
	background-color: rgb(41, 41, 41); color: white; /*dark theme*/
}

.area {
	padding: 0;
	margin: 1%;
}

.infoArea {
	margin: 2%;
}

.board {
	margin: 0;
	padding: 1%;
}

.boardField {
	position: relative;
	border: 1px solid lightgray;
	background-color: #0cadf8;
	padding: 0;
	float: left;
}

.shipFieldLeft {
	position: relative;
	padding: 0;
	float: left;
	width: 30%;
	padding-top: 10%;
}

.shipFieldMiddle {
	position: relative;
	padding: 0;
	float: left;
	width: 50%;
	padding-top: 10%;
}

.shipFieldRight {
	position: relative;
	padding: 0;
	float: left;
	width: 20%;
	padding-top: 10%;
}

.shipFieldFooter {
	position: relative;
	padding: 0;
	float: left;
	width: 100%;
	padding-top: 26.25%;
}

.shipField {
	padding-top: 23%;
	width: 20%; /*TODO: 100 / (Größte)ship.gameFields Zahl*/
}

.activeField:hover {
	background-color: rgb(0, 102, 255);
}

#playerInputModal {
	color: black;
}

.playerLabel .playerName {
	font-size: 16pt;
}

/*Debug Borders*/
.frame {
	border: 0.5px dashed green;
}
