#myShipsToSetUp {
	height: 80%;
	width: 100%;
}

.setUpShipsArea {
	height: 10%;
	margin-top: 2%;	
	display: flex;
	align-items: center;
}

.setUpShipsAreaRow {
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: flex-start;
}

.setUpShipsAreaRowUsedGameFields {
	border: 1px solid lightgray;
	position: relative;
	float: left;
	height: 100%;
}

#myShipsButtons {
	height: 15%;
	width: 100%;
}

.setUpShipsButtons {
	font-size: 18pt;
	height: 100%;
}